<!DOCTYPE html>
<html lang="{{@site.lang}}" dir="ltr">

<head>
  {{> jgg_head}}
  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <main>
    {{{body}}}
  </main>

  {{#is "home"}}
    {{#if @site.cover_image}}
      <figure class="home-cover">
        {{!--
        <img role="decorative" src="https://res.cloudinary.com/joelgoodman/image/fetch/f_auto,q_85,w_480,h_900,c_fill,g_auto/{{img_url @site.cover_image absolute="true"}}" alt="Silouetted person looking out from an observatory across a hazy city with rolling hills." width="480" height="900" /> --}}
        <img role="decorative" src="{{img_url @site.cover_image}}" alt="Silouetted person looking out from an observatory across a hazy city with rolling hills." width="480" height="900" />
      </figure>
    {{/if}}
  {{/is}}

  {{> social}}
  {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some
  JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already
  loaded. --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the
  closing body tag --}}
  {{ghost_foot}}
</body>

</html>