{{!< default}}

{{#is "index"}}
  <h1>You're looking at all of my posts.</h1>
{{/is}}
{{#is "tag"}}
  <h1>You're looking at posts tagged {{name}}.</h1>
{{/is}}
<section class="post-list">
  {{#foreach 'posts'}}
    <article class="post-link" data-year="{{date "YYYY"}}"{{#if feature_image}} data-cover="{{img_url}}"{{/if}}><a href="{{url}}">{{title}}</a></article>
  {{/foreach}}
</section>