{{!< default}}
{{#post}}
  {{#if feature_image }}
  <figure class="post-cover">
    <img src="{{img_url feature_image}}" alt="{{excerpt}}" loading="lazy" width="450" height="290" />
  </figure>
  {{/if}}
  <section class="post-body">
    <header>
      <h1>{{title}}</h1>
      <p class="subhead">{{meta_description}}</p>
      <span class="post-meta">{{#primary_author}}{{name}}{{/primary_author}} / <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM"}}</time> / {{reading_time}}</span>
    </header>
    <article>
      {{content}}
    </article>
  </section>
  {{> callout}}
{{/post}}